.wrapper {
  font-family: "Ubuntu", sans-serif;
  padding: 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: var(--gray-300);
  color: var(--white);
}

img {
  display: inline-block;
  vertical-align: center;
  width: auto;
  height: 25px;
  border-radius: 50%;
}

h1 {
  font-weight: 900;
  font-size: 20px;
  line-height: 1;
  margin: 6px 0 6px 10px;
  display: inline-block;
  vertical-align: top;
}

button + button {
  margin-left: 10px;
}
