@tailwind base;
@tailwind components;
@tailwind utilities;

html,
#root,
body {
  padding: 0;
  margin: 0;
  height: 100%;
  width: 100%;
  box-sizing: border-box;
  background: #f5f5f5;
  color: #000011;
}
