@tailwind base;
@tailwind components;
@tailwind utilities;

html,
#root,
body {
  padding: 0;
  margin: 0;
  height: 100%;
  width: 100%;
  box-sizing: border-box;
  overflow: hidden;
}

.font-ubuntu {
  font-family: "Ubuntu", sans-serif;
}
